{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background: rgb(55, 66, 71);
    font-size: 18px;
}
.container{
    
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}
.screen-body-item{
    flex: 1;
    padding: 50px;

}
input{
    margin: 10px 10px 10px;
}
.showdata{
    height: 150px;
    color: rgb(19, 20, 18);
    font-size: 2rem;
    padding-top: 12px;
    padding-bottom: 12px;
}
h1{
    font-size: 40px;
    color: rgb(54, 54, 4);
    font-weight: 700;
    font-style: italic;
}
footer p{
    font-size: 12px;
    color: rgb(124, 80, 80);
}
.form-group input{
    background-color: rgb(225, 240, 185);
    border: 2px solid black;
}
.form-button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.form-group ::placeholder{
    color: black;
}